<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22463932542-m8dtruaaokupjs2ag4ct50jb9n5jhks6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22463932542-m8dtruaaokupjs2ag4ct50jb9n5jhks6</string>
	<key>API_KEY</key>
	<string>AIzaSyBIELG_PafIwckY56W_OZuJEfAZHdoBzMk</string>
	<key>GCM_SENDER_ID</key>
	<string>22463932542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.binarychaos.medquiz</string>
	<key>PROJECT_ID</key>
	<string>med-quiz-acb81</string>
	<key>STORAGE_BUCKET</key>
	<string>med-quiz-acb81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22463932542:ios:aa95d42f4ace8c62</string>
	<key>DATABASE_URL</key>
	<string>https://med-quiz-acb81.firebaseio.com</string>
</dict>
</plist>